#header_home {
    background-image: var(--bg-image);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.main-nav .main-nav_item {
    display: flex;
}

.main-nav .main-nav_item li {
    padding: 1rem 1.5rem;
}

.main-nav .main-nav_item li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px transparent solid;
    padding-bottom: .5rem;
    transition: all .5s;
}

.main-nav .main-nav_item li a:hover {
    border-color: var(--medium-color);
}

.main-nav .main-nav_item li a.active {
    border-color: var(--primary-color);
}

.main-nav .main-nav_logo {
    width: 70px;
    height: 70px;
}

#header_home .header-content {
    text-align: center;
    padding-top: 20%;
}

#header_home h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

#header_home .typewrite {
    display: block;
}

/* header-inner */

#header_inner {
    background-image: var(--bg-image);
    background-position: 40% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5.5rem;
    border-bottom: 3px solid var(--primary-color);
}